.ramba-menu{
    background-color: blue;
}
.r-btn{
    background-color: darkblue;
}
#ra{
    background-color: darkblue;
}
.sidebar-item{
background-color: slategray;
}
.sidebar-item-link{
    color: white;
}